* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    white-space: nowrap;
}
#homepage {
    display: flex;
    height: 92vh;
    justify-content: space-between;
}
#homepage>nav {
    background-color: #2f2b45;
    width: 20vw;
    min-width: 150px;
}
#homepage>nav img {
    height: 3vw;
    min-height: 30px;
    margin-top: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
}
#homepage>nav div {
    margin-top: 30px;
    margin-left: 2vw;
}
#homepage>nav h2 {
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 400;
    color: #a09db7;
}
#homepage>nav li {
    margin-left: 10px;
    padding: 7px 20px;
    list-style-type: none;
    white-space: nowrap;
}
#homepage>nav li.active {
    background-image: linear-gradient(90deg,#a09db7a0 20%,#2f2b45);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}
#homepage>nav li.active a {
    color: white;
} 
#homepage>nav a {
    text-decoration: none;
    color: #a09db7;
}
#homepage>nav i {
    padding-inline-end: 10px;
} 
#homepage>nav button {
    background-color: transparent;
    border: 1px dashed white;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px 10px 7px 10px;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
}
.song-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.song-profile-img {
    height: 6vh;
    border-radius: 10px;
}
.song-details {
    margin-left: 5px;
    margin-right: 3vw;
    white-space: nowrap;
}
.song-details div:nth-of-type(1){
    font-size: 12px;   
    color: #dbdbde;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.song-details div:nth-of-type(2){
    font-size: 10px;
    color: #a09db7;
}
#homepage>main {
    background-color: #26223a;
    width: 80vw;
}
main>header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #a09db73c;
    margin-inline: 20px;
}
main>header img[src="./assets/user-avatar.png"] {
    height: 50px;
}
main>header nav {
    display: flex;
    flex-direction: row;
    justify-content: start;
}
main>header nav li {
    padding-block: 30px;
    margin-inline: 15px;
    list-style-type: none;
}
main>header nav li.active {
    border-bottom: 3px solid white;
}
main>header nav a {
    color: #a09db7;
    text-decoration: none;
}
main>header nav li.active a {
    color: white;
    font-weight: bold;
}
header #userarea {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#userinfo {
    text-align: right;
}
#userinfo h4 {
    font-weight: normal;
    padding: 2px;
}
#user-dropdown {
    position: relative;
}
#userinfo #drop-btn {
    background-color: transparent;
    color: #a09db7;
    border: none;
}
#userinfo #drop-content {
    display: none;
    position: absolute; 
    right: 0;
    background-color: #a09db7;
    border-radius: 10px;
    padding: 10px;
    white-space: nowrap;
}
#userinfo #drop-content a {
    display: block;
    padding: 5px 10px;
}
#userinfo #drop-content a:hover {
    box-shadow: 5px 5px 8px #4f4d5b;
    border-radius: 5px;
}
#user-dropdown:hover #drop-content {
    display: block;
}




#music-section>aside {
    width: 20vw;
    padding: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #26223a;
}
#music-section>aside::-webkit-scrollbar {
    background-color: #26223a;
    width: 8px;
}
#music-section>aside::-webkit-scrollbar-thumb {
    background-color: #a09db7;
    border-radius: 5px;
}
#music-section>aside h5 {
    font-size: 20px;
}
#music-section>aside .song-profile {
    margin-block: 15px;
}
aside .song-profile .song-views {
    font-size: 12px;
}
aside .song-profile #control-underlay {
    background-color:  #a09db7;
    padding: 11px 13px 9px 15px ;
    border-radius: 30px;
    margin-left: 10px;
}
footer {
    position: fixed;
    bottom: 0;
    background-color: #1d1b2d;
    padding: 10px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#music-controls input {
    width: 30vw;
    margin-inline: 20px;
}
#wishlist-control i:nth-of-type(1) {
    display: none;
    color: red;
}
#wishlist-control i:nth-of-type(2) {
    display: block;
}
#wishlist-control:hover #remove-from-wishlist {
    display: none;
}
#wishlist-control:hover #add-to-wishlist {
    display: block;
}
#audio-controls {
    margin-right: 30px;
}